{
  BasedOnStyle: LLVM,
  UseTab: Always,
  IndentWidth: 3,
  TabWidth: 3,
  ContinuationIndentWidth: 3,
  AlignEscapedNewlines: DontAlign,
  AllowShortFunctionsOnASingleLine: Empty,
  AlwaysBreakTemplateDeclarations: Yes,
  ColumnLimit: 120,
  AlignArrayOfStructures: Left,
}
