* text=auto eol=lf
bake linguist-generated
config/ublacklist.txt linguist-language=AdBlock linguist-detectable

os-unix/config-language/.config/npm/npmrc filter=npmrc
os-unix/config-tools/.config/osc/oscrc filter=oscrc
os-unix/config-editor/.config/zed/settings.json filter=homedir
