.bin/
.data/
hscripts/setup/
data/setup-private*
scripts-hidden/
**/bash/bash.d/
**/sh/shell.d/
**/zsh/zsh.d/
.zcompcache/
.zcompdump
.clangd
site/
*.env
node_modules/
.venv/
*.pyc
*.o
**/cptest
target/
