* text=auto eol=lf
bake linguist-generated
config/ublacklist* linguist-language=AdBlock linguist-detectable
config/ublockorigin* linguist-language=AdBlock linguist-detectable

os-unix/config-language/.config/npm/npmrc filter=npmrc-clean
os-unix/config-tools/.config/osc/oscrc filter=oscrc-clean
