# foxomate start
* text=auto eol=lf
bake linguist-generated
# foxomate end

user/.config/npm/npmrc filter=npmrc-clean
user/.config/slack-term/config filter=slack-term-config-clean
user/.config/osc/oscrc filter=oscrc-clean
