[submodule "vendor/bash-core"]
	path = vendor/bash-core
	url = https://github.com/bash-bastion/bash-core
[submodule "vendor/bash-term"]
	path = vendor/bash-term
	url = https://github.com/bash-bastion/bash-term
[submodule "vendor/bats-all"]
	path = vendor/bats-all
	url = https://github.com/bash-bastion/bats-all
