$include /etc/inputrc

# Set options.
set bell-style none
set bind-tty-special-chars off
set blink-matching-paren off
set colored-completion-prefix on
set colored-stats on
set completion-ignore-case on
set completion-map-case on
set completion-prefix-display-length 12
set completion-query-items 100
set convert-meta off
set echo-control-characters off
set input-meta on
set mark-symlinked-directories on
set match-hidden-files off
set revert-all-at-newline on
set show-all-if-ambiguous on
set show-all-if-unmodified on
set skip-completed-text on
set output-meta on
set visible-stats on

# Enable use of arrow keys with control
"\e[1;5C": forward-word
"\e[1;5D": backward-word
"\e[5C": forward-word
"\e[5D": backward-word
"\e\e[C": forward-word
"\e\e[D": backward-word

# Enable use of Home/End keys
"\e[1~": beginning-of-line
"\e[4~": end-of-line

# Enable use of Delete/Insert keys
"\e[3~": delete-char
"\e[2~": quoted-insert

# Custom shortcuts.
"\C-." re-read-init-file
Meta-k: previous-screen-line
Meta-j: next-screen-line
Meta-r: non-incremental-reverse-search-history
Meta-s: non-incremental-forward-search-history

# Automatically perform history expansion.
Space: magic-space

# Templates.
"\C-lt": "\C-awhile true;do \C-e ;done " # Infinite loop.
"\C-lw": " | while IFS= read -r line;do \"$line\" ;done\eb\eb\eb\ef " # Loop over standard input.

$if mode=vi
set keymap vi-command
"gg": beginning-of-history
"G": end-of-history

set keymap vi-insert
"jj": vi-movement-mode
"\C-p": history-search-backward
Control-l: clear-screen

TAB: menu-complete
"\e[Z": menu-complete-backward
$endif
