[Desktop Entry]
Name=Zettlr
Exec=/home/edwin/docs/programming/pkg/app-image/Zettlr-1.6.0-x86_64.AppImage
Icon=foocorp-painter-pro
Type=Application
Categories=Productivity;
