[Unit]
Description=GnuPG Cryptographic Agent and Passphrase Cache
Documentation=man:gpg-agent(1)
Requires=gpg-agent.socket

[Service]
ExecStart=/usr/bin/gpg-agent --supervised
ExecReload=/usr/bin/gpgconf --reload gpg-agent

[Install]
WantedBy=graphical.target
