[Unit]
Description=XBindKeys Hotkey Daemon
Documentation=man:xbindkeys(1)

[Service]
ExecStart=/usr/bin/xbindkeys
ExecReload=/usr/bin/kill -HUP $MAINPID
KillMode=process

[Install]
WantedBy=default.target
