[Unit]
Documentation=man:xob(1)
BindsTo=xorg.target
After=xorg.target xob.socket
PartOf=xorg.target
ConditionPathExists=/usr/bin/xob
Requires=xob.socket
ConditionUser=!root

[Service]
Sockets=xob.socket
ExecStart=/usr/bin/xob
StandardInput=fd:xob.socket
Restart=on-failure
RestartSec=5

[Install]
Also=xob.socket
WantedBy=xorg.target
