/* @namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul); */
/* Namespace breaks LibreWolf */

/* https://support.mozilla.org/en-US/questions/1346806 */
:root {
	--arrowpanel-menuitem-padding: 4px 6px !important; /* Bookmarks menu */
}

/* https://old.reddit.com/r/firefox/comments/84u8ib/complete_guide_to_disable_all_firefox_ui/ */
* {
	transition: none !important;
	animation-duration: 0s !important;
}

/* PROTON TAB TWEAKS */
/* Tweak Options as of 12/10/2022; Generated Thu Jul 03 2025 01:22:09 GMT-0700 (Pacific Daylight Time) */
/* Adjust tab corner shape, optionally remove space below tabs */
#tabbrowser-tabs {
	--user-tab-rounding: 6px;
}

.tab-background {
	border-radius: var(--user-tab-rounding) var(--user-tab-rounding) 0px 0px !important; /* Connected */
	margin-block: 1px 0 !important; /* Connected */
}
#scrollbutton-up,
#scrollbutton-down {
	/* 6/10/2021 */
	border-top-width: 1px !important;
	border-bottom-width: 0 !important;
}

/* 1/16/2022 Tone down the Fx96 tab border with add-on themes in certain fallback situations */
.tab-background:is([selected], [multiselected]):-moz-lwtheme {
	--lwt-tabs-border-color: rgba(0, 0, 0, 0.5) !important;
	border-bottom-color: transparent !important;
}
[brighttext="true"]
	.tab-background:is([selected], [multiselected]):-moz-lwtheme {
	--lwt-tabs-border-color: rgba(255, 255, 255, 0.5) !important;
	border-bottom-color: transparent !important;
}

/* Container color bar visibility */
.tabbrowser-tab[usercontextid]
	> .tab-stack
	> .tab-background
	> .tab-context-line {
	margin: 0px max(calc(var(--user-tab-rounding) - 3px), 0px) !important;
}

/* Override Normal Density height to Compact Density height only for tabs */

#TabsToolbar,
#tabbrowser-tabs {
	--tab-min-height: 29px !important;
}
/* Tweak for covering a line at the bottom of the active tab on some themes 8/11/2021 */
#main-window[sizemode="normal"]
	#toolbar-menubar[autohide="true"]
	+ #TabsToolbar,
#main-window[sizemode="normal"]
	#toolbar-menubar[autohide="true"]
	+ #TabsToolbar
	#tabbrowser-tabs {
	--tab-min-height: 30px !important;
}
#scrollbutton-up,
#scrollbutton-down {
	border-top-width: 0 !important;
	border-bottom-width: 0 !important;
}

/* [Connected Tabs] Set a max height based on min-height plus margin-block: 1px 0 */
#TabsToolbar,
#TabsToolbar > hbox,
#TabsToolbar-customization-target,
#tabbrowser-arrowscrollbox {
	max-height: calc(var(--tab-min-height) + 1px) !important;
}
/* [Connected Tabs] Adjust padding around icons on buttons to avoid crushed images */
#TabsToolbar-customization-target toolbarbutton > .toolbarbutton-icon,
#TabsToolbar-customization-target .toolbarbutton-text,
#TabsToolbar-customization-target .toolbarbutton-badge-stack,
#scrollbutton-up,
#scrollbutton-down {
	padding-top: 7px !important;
	padding-bottom: 6px !important;
}
/* [Connected Tabs] Make sure tab attention dot isn't too high - 10 Dec 2022 */
.tabbrowser-tab:is([image], [pinned])
	> .tab-stack
	> .tab-content[attention]:not([selected="true"]),
.tabbrowser-tab
	> .tab-stack
	> .tab-content[pinned][titlechanged]:not([selected="true"]),
#firefox-view-button[attention],
.webextension-browser-action[attention="true"] {
	background-position-y: bottom 2px !important;
}

/* Inactive tabs: Outline style */

.tab-background {
	--context-line-margin-adjust: 4px; /* 1/16/2022 */
	--context-line-active-adjust: 0px; /* 1/16/2022 */
}
.tabbrowser-tab:not([selected="true"]):not([multiselected="true"])
	.tab-background {
	border: 1px solid rgba(0, 0, 0, 0.2) !important;
	/* To pick up a theme background tab separator color, un-comment the following line: */
	/* border: 1px solid var(--lwt-background-tab-separator-color, rgba(0, 0, 0, .20)) !important; */
	border-bottom-color: transparent !important;
}
/* For dark backgrounds */
[brighttext="true"]
	.tabbrowser-tab:not([selected="true"]):not([multiselected="true"])
	.tab-background {
	border: 1px solid
		var(--lwt-selected-tab-background-color, rgba(255, 255, 255, 0.2)) !important;
	/* To pick up a theme background tab separator color, un-comment the following line: */
	/* border: 1px solid var(--lwt-background-tab-separator-color, var(--lwt-selected-tab-background-color, rgba(255, 255, 255, .20))) !important; */
	border-bottom-color: transparent !important;
}
/* Remove extra padding between tabs */
.tabbrowser-tab:not(:first-of-type) {
	padding-left: 0 !important;
}

/* Move container color bar to bottom of tab - updated 1/16/2022 */

.tab-background {
	--context-line-margin-adjust: 3px; /* 1/16/2022 */
	--context-line-active-adjust: 1px; /* 1/16/2022 */
}
.tabbrowser-tab[usercontextid]:is(
		[selected="true"],
		[visuallyselected="true"],
		[multiselected]
	)
	.tab-background {
	border-top: 1px solid transparent; /* 1/16/2022 Default border for consistency */
}

.tabbrowser-tab[usercontextid]
	> .tab-stack
	> .tab-background
	> .tab-context-line {
	margin-top: calc(
		var(--tab-min-height) - var(--context-line-margin-adjust)
	) !important;
}
.tabbrowser-tab[usercontextid]:is(
		[selected="true"],
		[visuallyselected="true"],
		[multiselected]
	)
	> .tab-stack
	> .tab-background
	> .tab-context-line {
	margin-top: calc(
		var(--tab-min-height) - var(--context-line-margin-adjust) -
			var(--context-line-active-adjust)
	) !important;
}
