[Desktop Entry]
Name=Contexted.io
Exec=/home/edwin/Docs/pkg/contexted-0.7.0.AppImage
Icon=foocorp-painter-pro
Type=Application
Categories=Productivity;
