! Font options - ~/.fonts.conf seems to override this
! Resolution for Xft in dots per inch (e.g. 96)
!Xft.dpi:       128
! Type of subpixel antialiasing (none, rgb, bgr, vrgb or vbgr)
!Xft.rgba:      rgba
!Xft.antialias: 1
!Xft.hinting:   1
!Xft.autohint:  0
! What degree of hinting to use (hintnone, hintslight, hintmedium, or hintfull)
!Xft.hintstyle: hintslight

xterm*faceName: terminus-12
URxvt*font:     terminus-12
URxvt*boldFont: terminus-12
xURxvt*font:    ft:Terminus:style=Regular:size=10
xURxvt*boldFont:    ft:Terminus:style=Regular:size=10

#define WINDOWGEOMETRY 90x20
! xterm
xterm*dynamiccolors:      true
xterm*utf8:               2
xterm*geometry:           WINDOWGEOMETRY
xterm*visualBell:         off
xterm*highlightSelection: true
!xterm*background:      lightblack
!xterm*foreground:      lightblue
!xterm*colorMode:       on
!xterm*colorBD:         lightcyan
!xterm*colorBDMode:     on
!xterm*colorUL:         white
!xterm*colorULMode:     on
!xterm*scrollTtyOutput: false
!xterm*scrollKey:       true
!xterm*scrollBar:       true

! URxvt
URxvt.modifier: mod1
URxvt*loginShell: true
URxvt.borderless: false
URxvt*dynamicColors: on
URxvt*letterSpace: -1
URxvt.geometry: WINDOWGEOMETRY
URxvt.imLocale: en_US.UTF-8
URxvt.lineSpace: 0
URxvt.loginShell: true
URxvt.saveLines: 5000
URxvt.scrollBar: false
URxvt.scrollstyle: plain
URxvt*termName: xterm-256color
URxvt.transparent: false
URxvt.visualBell: false

! do not scroll with output
URxvt*scrollTtyOutput: false

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true

! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

! Dark
*.foreground:   base05
*.background:   base00
*.cursorColor:  base05
*.cursorColor2:  base05
*.cursorUnderline: true
*.cursorBlink: true


!! Solarized color scheme for the X Window System
!! http://ethanschoonover.com/solarized
!! Common
!#define S_yellow        #b58900
!#define S_orange        #cb4b16
!#define S_red           #dc322f
!#define S_magenta       #d33682
!#define S_violet        #6c71c4
!#define S_blue          #268bd2
!#define S_cyan          #2aa198
!#define S_green         #859900
!! Dark
!#define S_base02        #073642
!#define S_base03        #002b36
!#define S_base01        #586e75
!#define S_base00        #657b83
!#define S_base0         #839496
!#define S_base1         #93a1a1
!#define S_base2         #eee8d5
!#define S_base3         #fdf6e3
!! Light
!!#define S_base03        #fdf6e3
!!#define S_base02        #eee8d5
!!#define S_base01        #93a1a1
!!#define S_base00        #839496
!!#define S_base0         #657b83
!!#define S_base1         #586e75
!!#define S_base2         #073642
!!#define S_base3         #002b36
!
!*background:              S_base03
!*foreground:              S_base0
!*fading:                  40
!*fadeColor:               S_base03
!*cursorColor:             S_base1
!*pointerColorBackground:  S_base01
!*pointerColorForeground:  S_base1
!
!*color0:                  S_base02
!*color1:                  S_red
!*color2:                  S_green
!*color3:                  S_yellow
!*color4:                  S_blue
!*color5:                  S_magenta
!*color6:                  S_cyan
!*color7:                  S_base2
!*color9:                  S_orange
!*color8:                  S_base03
!*color10:                 S_base01
!*color11:                 S_base00
!*color12:                 S_base0
!*color13:                 S_violet
!*color14:                 S_base1
!*color15:                 S_base3

!
! special
*.foreground:   #6f798c
*.background:   #fcfcfc
*.cursorColor:  #6f798c

! black
*.color8:       #A7ACB3
*.color0:       #fcfcfc

! red
*.color9:       #B86974
*.color1:       #B86974

! green
*.color10:      #469E76
*.color2:       #469E76

! yellow
*.color11:      #C7A775
*.color3:       #C7A775

! blue
*.color12:      #5287AD
*.color4:       #5287AD

! magenta
*.color13:      #CC6D8B
*.color5:       #CC6D8B

! cyan
*.color14:      #3C97AD
*.color6:       #3C97AD

! white
*.color15:      #6f798c
*.color7:       #A7ACB3!
